.design {
  .palette-card-1 {
    background-color: #4a3659;
    color: #ffffff;
  }
  .palette-card-2 {
    background-color: #9dcd2b;
    color: #ffffff;
  }
  .palette-card-3 {
    background-color: #ffffff;
    color: $primary;
  }
  .palette-card-4 {
    background-color: #b9b9b9;
    color: #ffffff;
  }
  .header-title {
    color: #ffffff;
  }
  .content {
    img {
      width: 100%;
      border-radius: 1px;
      margin-bottom: 20px;
    }
  }
  .headers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px 0;
    img {
      width: 70%;
      margin-bottom: 0;
    }
    figcaption {
      margin: 10px 0 20px;
    }
  }
}
