.permissions {
  .api-level {
    font-size: 0.85rem;

    b {
      color: $default;
      font-weight: bold;
    }
  }
  .protection {
    b {
      color: $blue;
      font-size: 1.2rem;
      font-weight: bold;
    }
    .danger {
      color: $danger;
    }
  }
}
